data/raw/*.txt
logs/
.venv/
data/raw/*.xml
data/raw/hue/
data/raw/*.geojson
data/raw/maps/*.jp2
data/raw/maps/*.tif
data/raw/H_*.csv
data/raw/*.csv.gz
data/raw/census*.pdf
data/raw/*.dta
data/raw/*.sav
data/raw/maps/*.jpg
